.banner-container{
    display: flex;
    justify-content: center;
}
.product-card-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.product-card-container{
    padding: 15px;
    width: 25%;
}
.product-card{
    display: flex;
    flex-wrap: nowrap;
    direction: row ;
}