.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    align-items: flex-start;
    justify-content: flex-end;
}
.items-1{
    border: 1px solid silver;
}
.items-2{
    border: 1px solid silver;
}
.items-3{
    border: 1px solid silver;;
}
.items-12{
    flex-grow: 5;
}
.items-9{
    flex-grow: 6;
}